body {
    text-align: center;
}



.ana { 
    
    margin: auto;
    width: 1300px;
    height: 120px;
    border-top-style:solid;
    border-color: aliceblue;
  
}
.altdiv {
    background-color: #7EE5DA;
}

.orta {
    width: 1300px;
    height: 65px;
    margin: auto;
}